
body{
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}
h2{
  padding-left: 2.5rem;
  padding-top: 1rem;
}

li{
  padding: 0.3rem;
}
.container{
  width: 100vw;
  min-height: 100vh;
  background-color: #ddf0e4;
  display: grid;
  place-items: center;
}

.restart{
  margin: 0;
  position: absolute;
  background-color: #aaaaaa;
  padding: 0 2%;
  border-radius: 1.5rem;
  visibility: hidden;
}

.quizbox{
  width: 40vw;
  background-color: white;
  border-radius: 1.5rem;
  border: none;
  box-shadow: 0 1rem 1rem -1rem;
  filter: blur(0px);
}

.wrong{
  display: grid;
  place-items: center;
  background-color: #aaaaaa;
  margin: 2% 25%;
  border-radius: 1.5rem;
}

.hide{
  visibility: hidden;
}

.score{
  display: grid;
  place-items: center;
  background-color: #aaaaaa;
  margin: 0 25%;
  border-radius: 1.5rem;
}

.hidden{
  display: none;
}

.AnswerList{
  list-style-type: none;
}
input{
  cursor: pointer;
}

#submit {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 1px #666666;
  -moz-box-shadow: 0px 1px 1px #666666;
  box-shadow: 0px 1px 1px #666666;
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
  font-size: 15px;
  background: #c6d8cd;
  padding: 12px 20px 10px 20px;
  text-decoration: none;
  border: none;
  display: block;
  margin: 10px auto;
}

#submit:hover {
  background: #c6d8cd;
  background-image: -webkit-linear-gradient(top, #c6d8cd, #9aa89f);
  background-image: -moz-linear-gradient(top, #c6d8cd, #9aa89f);
  background-image: -ms-linear-gradient(top, #c6d8cd, #9aa89f);
  background-image: -o-linear-gradient(top, #c6d8cd, #9aa89f);
  background-image: linear-gradient(to bottom, #c6d8cd, #9aa89f);
  text-decoration: none;
  cursor: pointer;
}
